body {
	font-family: "微软雅黑"
}

* {
	margin: 0 auto;
	padding: 0
}

li {
	list-style: none
}

a {
	text-decoration: none;
	color: #333
}

a:hover {
	text-decoration: none;
	color: #333
}

em,
i {
	font-style: normal
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
	font-weight: normal;
	font-size: 16px
}

div:after,
ul:after,
p:after,
li:after,
form:after {
	content: "";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden
}

img {
	border: none;
	max-width: 100%
}

.tm-container {
	max-width: 1200px;
	margin: 0 auto
}

.tm-text-uppercase {
	text-transform: uppercase
}

.tm-text-center {
	text-align: center
}

.tm-text-right {
	text-align: right
}

.tm-text-left {
	text-align: left
}

.tm-padding-0 {
	padding: 0
}

.tm-clerfix:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.tm-box-sizing {
	box-sizing: border-box
}

.tm-banner-bg {
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat
}

.tm-banner-default img {
	width: 100%
}

.tm-float-right {
	float: right
}

.tm-float-left {
	float: left
}

.tm-padding-5-0 {
	padding: 5px 0
}

.tm-padding-10-0 {
	padding: 10px 0
}

.tm-padding-15-0 {
	padding: 15px 0
}

.tm-padding-20-0 {
	padding: 20px 0
}

.tm-padding-25-0 {
	padding: 25px 0
}

.tm-padding-30-0 {
	padding: 30px 0
}

.tm-padding-35-0 {
	padding: 35px 0
}

.tm-padding-40-0 {
	padding: 40px 0
}

.tm-margin-10-0 {
	margin: 10px 0
}

.register-input_box {
	border: 1px solid #dd3434;
	border-radius: 8px;
	padding: 0 15px
}

.register-input_box div {
	border-bottom: 1px solid #dd3434
}

.register-input_box div input {
	border: none;
	background: transparent;
	height: 40px;
	outline: none;
	width: 80%;
	font-size: 14px
}

.register-input_box div:last-child {
	border: none
}

.register-input_box div i {
	vertical-align: middle;
	display: inline-block;
	margin-right: 10px
}

.yz-box>input {
	width: 45%!important
}

.banner-right-box form h1.register-title {
	padding: 15px 0!important
}

.yz-box>a {
	width: 35%;
	display: inline-block;
	vertical-align: middle;
	height: 40px;
	line-height: 40px;
	color: #666;
	border-left: 1px dashed #666;
	text-align: center;
	font-size: 14px
}

.config-input {
	font-size: 12px;
	color: #999;
	padding: 2px 0 10px 0
}

.config-input>input,
.config-input>span {
	display: inline-block;
	vertical-align: middle
}

.config-input>input {
	border: 1px solid #000
}

.banner-right-box>form>.goto-login {
	float: right;
	font-size: 14px;
	color: #333;
	margin-top: 5px
}

.logo-con {
	height: 75px;
	padding: 0 0
}

.logo-con a,
.logo-con span {
	display: inline-block;
	vertical-align: middle
}

.logo-con span {
	padding-left: 20px;
	border-left: 1px solid #e5e5e5;
	line-height: 51px;
	margin-left: 20px
}

.banner-right-box {
	width: 340px;
	background: rgba(255, 255, 255, .8);
	margin-left: auto;
	margin-right: 0;
	text-align: center;
	padding: 10px 31px;
	padding-bottom: 30px
}

.banner .tm-container {
	padding: 70px 0
}

.banner-right-box form h1 {
	font-size: 18px;
	color: #dd3434;
	padding: 28px 0
}

.login-input_box {
	text-align: left;
	border: 2px solid #dd3434;
	border-radius: 8px;
	padding: 0 15px
}

.login-input_box div input {
	border: none;
	background: transparent;
	height: 40px;
	outline: none;
	width: 80%;
	font-size: 14px
}

.login-input_box div i {
	vertical-align: middle;
	display: inline-block;
	margin-right: 10px
}

.login-input_box div:first-child {
	border-bottom: 2px solid #dd3434
}

.banner-right-box form p {
	padding-bottom: 20px
}

.banner-right-box form p a {
	font-size: 12px;
	color: gray;
	margin: 15px 0
}

.login-btn_box .login-btn,
.login-btn_box .register-href {
	display: block;
	width: 100%;
	border-radius: 5px;
	font-size: 16px;
	color: #fff;
	line-height: 37px;
	height: 37px
}

.login-btn_box .login-btn {
	background: #dd3434;
	border: none;
	margin-bottom: 8px
}

.login-btn_box .register-href {
	background: #fb0
}

.contact-service {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	line-height: 35px;
	width: 145px;
	height: 35px;
	display: inline-block;
	text-align: center;
	color: #333;
	border-bottom-left-radius: 13px;
	border-top-left-radius: 13px;
	margin: 18px 0
}

.contact-service i,
.contact-service span {
	display: inline-block;
	vertical-align: middle
}

.contact-service i {
	margin-right: 5px;
	margin-left: 10px;
	width: 25px;
	height: 25px;
	background-repeat: no-repeat
}

.contact-service:hover {
	color: #fff
}

.contact-service:hover i {
	background-image: url(/pc/images/xcontact_hover.png.pagespeed.ic.SSOEc-7bCt.png)!important
}

.app-download {
	width: 50%
}

.app-download div {
	display: inline-block;
	width: 140px;
	height: 140px;
	vertical-align: top;
	position: relative
}

.app-download div:last-child {
	margin-left: 130px
}

.app-download div img {
	width: 100%
}

.app-download div .wx-mask {
	cursor: pointer;
	opacity: 0;
	transition: opacity 300ms;
	-webkit-transition: opacity 300ms;
	-ms-transition: opacity 300ms;
	-moz-transition: opacity 300ms;
	position: absolute;
	left: 0;
	top: 0;
	width: 140px;
	height: 140px;
	background: rgba(255, 255, 255, .4);
	margin: 0
}

.app-download div .wx-mask i {
	width: 140px;
	height: 140px;
	display: block
}

.mask-hover:hover .wx-mask {
	opacity: 1;
	transition: opacity 500ms;
	-webkit-transition: opacity 500ms;
	-ms-transition: opacity 500ms;
	-moz-transition: opacity 500ms
}

.app-download_info {
	color: #df3a37;
	font-size: 18px
}

.footer {
	height: 380px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: 0 0;
	color: #fff;
	font-size: 16px
}

.footer a {
	color: #fff
}

.footer-list {
	padding: 50px 0
}

.footer-list ul {
	width: 100%
}

.footer-list>ul>li {
	float: left;
	box-sizing: border-box;
	width: 33.333333333%;
	padding: 30px 30px
}

.footer-list>ul>li:not(:first-child) {
	border-left: 1px solid #e5e5e5
}

.footer-list>ul>li>h4 {
	font-weight: bold
}

.footer-logo {
	margin-top: 25px;
	display: block
}

.add-href li span:not(:first-child) {
	margin-left: 0
}

.add-href li span {
	display: inline-block
}

.add-href li span:not(:first-child):before {
	content: "|";
	margin: 0 10px
}

.copyRight p {
	margin: 10px 0
}

.copyRight p a {
	display: inline-block;
	vertical-align: middle
}

.copyRight a:hover {
	text-decoration: underline
}

.footer-list>ul>li>ul>li {
	margin: 10px 0
}

.noob {
	float: right;
	margin-top: 50px;
	color: #dd3434
}

.nav {
	background: #dd3434;
	height: 70px
}

.tm-nav-active {
	background: #aa0707!important
}

.nav-list {
	font-size: 18px;
	float: left
}

.nav-list>li {
	float: left;
	line-height: 70px;
	width: 110px
}

.nav-list>li>a {
	display: block;
	text-align: center;
	color: #fff
}

.nav-right {
	height: 70px;
	line-height: 70px
}

.nav-right span {
	margin: 0 15px
}

.nav-right span i,
.nav-right span a {
	display: inline-block;
	vertical-align: middle
}

.nav-right span a {
	color: #fff
}

.nav-right span i img {
	display: block
}

.nav-right span i {
	margin-right: 5px
}

.index-banner-list {
	padding-top: 20px;
	font-size: 18px
}

.index-banner-list>li {
	margin: 25px 0
}

.index-banner-list>li a {
	line-height: 45px;
	height: 45px;
	display: block;
	color: #dd3434;
	border-radius: 20px;
	border: 1px solid #dd3434
}

.index-banner-list>li a:hover {
	color: #fff;
	background: #dd3434
}

.index-banner-list>li>span {
	width: 45%;
	display: inline-block
}

.index-banner-list>li>span {
	float: left
}

.index-banner-list>li>span:first-child {
	margin-right: 10%
}

.index-row1>.index_con-title {
	padding: 30px 0
}

.index-row1>.index_con-title>li {
	float: left;
	width: 33.33333333%
}

.index_con-title>li>a {
	width: 70%;
	display: block
}

.index_con-title>li>a>div {
	float: left
}

.index_con-title>li>a>.index_con-img_con {
	width: 35%
}

.index_con-title>li>a>.index_con-info {
	width: 62%;
	margin-left: 3%
}

.index_con-title>li>a>.index_con-info>h3 {
	margin-bottom: 10px;
	font-size: 18px;
	color: #333;
	font-weight: bold
}

.index_con-title>li>a>.index_con-info>p {
	font-size: 16px;
	color: #999
}

.index-row2>h1>a {
	font-size: 14px;
	color: #dd3434
}

.recommend-con>div {
	float: left;
	height: 370px
}

.recommend-con>.recommend-left {
	width: 190px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative
}

.recommend-con>.recommend-right {
	width: 1010px
}

.recommend-con>.recommend-left>.center-v-a {
	text-align: center;
	padding: 14px;
	box-sizing: border-box;
	color: #fff;
	position: absolute;
	width: 90px;
	height: 140px;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto
}

.recommend-con>.recommend-left>.center-v-a>h1 {
	font-size: 30px;
	padding-bottom: 3px;
	border-bottom: 1px solid #fff;
	margin-bottom: 3px
}

.recommend-con>.recommend-left>.center-v-a>p {
	font-size: 14px
}

.recommend-header {
	margin-left: 1px;
	box-sizing: border-box;
	border: 1px solid #dd3434
}

.recommend-header>ul>li {
	float: left;
	width: 115px;
	height: 40px;
	line-height: 40px
}

.recommend-header>ul>li>a {
	text-align: center;
	display: block
}

.recommend-active>a {
	background: #dd3434!important;
	color: #fff!important
}

.recommend-body {
	padding: 23px 0;
	border-right: 1px solid #dd3434;
	box-sizing: border-box
}

.recommend-footer {
	box-sizing: border-box;
	border: 1px solid #dd3434;
	height: 67px;
	border-left: none;
	overflow: hidden
}

.recommend-footer-con>li {
	float: left;
	box-sizing: border-box;
	padding: 0 30px
}

.recommend-state {
	width: 30%;
	line-height: 68px
}

.recommend-state-info {
	width: 40%
}

.recommend-state-btn {
	width: 30%
}

.recommend-state>span,
.recommend-state>em,
.recommend-state>i,
.recommend-state>font {
	display: inline-block;
	vertical-align: bottom;
	color: #dd3434
}

.recommend-state>i>img {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	bottom: 3px
}

.recommend-state>span {
	font-size: 32px
}

.recommend-state>em,
.recommend-state>font {
	font-size: 14px;
	position: relative;
	top: 5px
}

.recommend-state>span {
	margin-right: 20px
}

.recommend-state-info>span {
	font-size: 20px;
	color: #666;
	line-height: 68px
}

.recommend-state-info>span>em {
	font-size: 15px;
	color: #999
}

.recommend-state-btn>a {
	height: 25px;
	width: 100px;
	display: inline-block;
	margin-top: 25px;
	border-radius: 5px;
	text-align: center;
	margin-right: 15px;
	color: #fff;
	line-height: 25px
}

.recommend-state-btn>a:first-child {
	background: #0686eb
}

.recommend-state-btn>a:last-child {
	background: #aa0707
}

.recommend-active-2>a {
	background: #239ffd;
	color: #fff
}

.down-box>em,
.down-box>span,
.down-box>font {
	color: #32b16c
}

.index-row2-1 .recommend-footer,
.index-row2-1 .recommend-header,
.index-row2-1 .recommend-body {
	border-color: #239ffd
}

.row-title {
	padding: 60px 0
}

.row-title>h3 {
	font-size: 23px
}

.row-title>h3 span {
	font-size: 18px
}

.row-title>h4 {
	font-size: 18px;
	color: #999
}

.row-title>h4 span:after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 25px;
	height: 2px;
	background: #de3836;
	margin-left: 15px
}

.row-title>h4 span:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 25px;
	height: 2px;
	background: #de3836;
	margin-right: 15px
}

.advantage-list-all {
	padding-bottom: 20px
}

.advantage-list-all>ul>li {
	float: left;
	width: 16.666666%;
	text-align: center;
	font-size: 18px
}

.advantage-list-all>ul>li div {
	padding-bottom: 10px
}

.information-con>div {
	float: left
}

.information-con>.new-messag {
	width: 450px
}

.information-con>.new-messag>h1 {
	font-size: 23px;
	margin-bottom: 5px
}

.information-con>.new-messag>h1>span {
	font-size: 18px
}

.information-con>.new-messag>h1>em:before {
	content: "";
	display: inline-block;
	width: 2px;
	height: 25px;
	background: #de3836;
	vertical-align: middle;
	margin-right: 8px
}

.newMessag-listBox>ul>li>a>.newMessag-listBox-con>div {
	float: left
}

.newMessag-listBox>ul>li {
	height: 105px;
	overflow: hidden
}

.newMessag-listBox>ul>li>a {
	display: block;
	height: 105px;
	position: relative;
	background: #f3f3f3;
	margin: 10px 0;
	padding: 0 30px;
	box-sizing: border-box;
	overflow: hidden
}

.newMessag-listBox-con {
	padding: 22px 0;
	box-sizing: border-box
}

.newMessag-list-img {
	margin-right: 20px
}

.newMessag-list-text>h2 {
	font-size: 18px;
	font-weight: bold
}

.newMessag-list-text>p {
	font-size: 16px;
	margin-top: 5px
}

.newMessag-mask {
	text-align: center;
	box-sizing: border-box;
	padding: 22px 0;
	height: 105px;
	width: 100%;
	background: rgba(226, 66, 59, .8);
	position: absolute;
	top: 0;
	left: 0;
	display: none
}

.newMessag-listBox>ul>li>a:hover .newMessag-mask {
	display: block
}

.information-con {
	padding: 100px 0
}

.information-con>.information {
	margin-left: 30px;
	width: 700px
}

.information-con>.information>h1 {
	font-size: 23px;
	margin-bottom: 15px
}

.information-con>.information>h1>span {
	font-size: 18px
}

.information-con>.information>h1>em:before {
	content: "";
	display: inline-block;
	width: 2px;
	height: 25px;
	background: #de3836;
	vertical-align: middle;
	margin-right: 8px
}

.information-btn-lsit>li {
	float: left;
	width: 120px;
	text-align: center;
	border-bottom: 2px solid transparent;
	padding: 10px 0
}

.information-btn-lsit>li>a {
	font-size: 18px;
	font-weight: bold
}

.information-active {
	border-color: #dd3434!important
}

.information-header>a {
	float: right;
	margin-top: 10px
}

.information-header {
	padding-right: 20px;
	border-bottom: 1px solid #e5e5e5;
	box-sizing: border-box
}

.information-body,
.information-header {
	background: #f3f3f3
}

.information-body {
	padding: 0 20px
}

.information-list>ul>li {
	border-bottom: 1px dashed #999;
	padding: 10px 0;
	box-sizing: border-box
}

.information-list>ul>li:last-child {
	border: none
}

.information-list>ul>li>a {
	display: block;
	width: 85%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin: 8px 0;
	font-size: 16px
}

.information-list>ul>li>a {
	float: left
}

.information-list>ul>li>a:hover {
	color: #dd3434
}

.index-list-timer {
	float: right;
	font-size: 14px;
	color: #e5e5e5
}

.title-gg {
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #999
}

.back-herf>li {
	float: left;
	color: #888
}

.back-herf>li a {
	color: #888;
	margin: 0 5px
}

.back-herf>li>i {
	position: relative;
	top: 3px;
	margin-right: 5px
}

.bg-color {
	background: #fafafa;
	padding: 15px
}

.cz-body {
	padding-top: 20px
}

.cz-body>.cz-left {
	float: left
}

.cz-left {
	width: 200px
}

.cz-left-list {}

.cz-left-list>li {
	height: 42px;
	line-height: 42px;
	margin: 2px 0;
	background: #f1f1f1
}

.cz-left-list>li:first-child {
	margin-top: 0!important
}

.cz-left-list>li>a {
	display: block;
	text-align: center
}

.cz-left>.user-tx {
	width: 200px;
	height: 268px;
	box-sizing: border-box;
	border: 1px solid #e5e5e5;
	background: #fff;
	padding: 15px 10px
}

.cz-left>.left-title {
	font-size: 22px;
	border-bottom: 2px solid #dd3434;
	margin-bottom: 3px
}

.cz-left>.left-title>span {
	font-size: 16px;
	text-transform: uppercase;
	color: #999
}

.gg-r-title {
	padding-bottom: 8px!important;
	border-width: 1px!important
}

.gg-body>.gg-body-list>li {
	border-bottom: 1px solid #e5e5e5;
	margin: 15px 0
}

.gg-body>.gg-body-list>li>p {
	font-size: 14px;
	color: #999;
	padding: 10px 0;
	padding-right: 50px
}

.gg-body>.gg-body-list>li>div {
	height: 240px;
	overflow-y: scroll;
	line-height: 1.8
}

.gg-body>.gg-body-list>li>div>p {
	color: #999;
	font-size: 14px
}

.gg-body>.gg-body-list>li>div>p>span {
	color: #dd3434
}

.fx-left>.left-title {
	padding-bottom: 6px
}

.jf-dh-body>h1 {
	padding-top: 20px;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 5px
}

.jf-dh-body>ul>li>img,
.jf-dh-body>ul>li>span {
	display: inline-block;
	vertical-align: middle;
	line-height: 40px
}

.jf-dh-body>ul>li {
	padding: 15px 0;
	border-bottom: 1px solid #e5e5e5
}

.jf-dh-body>ul>li>.tm-float-right>a {
	width: 100px;
	display: block;
	height: 32px;
	text-align: center;
	line-height: 32px;
	margin-top: 4px;
	background: #dd3434;
	color: #fff;
	border-radius: 4px
}

.jf-dh-body>ul>li>span {
	margin-left: 30px
}

.fx-dh-title>p {
	padding: 4px 0
}

.jf-dh-con>ul>li {
	height: 40px;
	line-height: 40px
}

.jf-dh-con {
	margin-top: 10px
}

.jf-dh-con {
	width: 290px;
	margin-left: 0
}

.jf-dh-con>ul>li>span {
	height: 28px;
	line-height: 28px;
	width: 100px;
	display: inline-block
}

.jf-dh-con>ul>li>span>i {
	width: 27px;
	display: inline-block;
	text-align: center;
	box-sizing: border-box;
	border: 1px solid #e5e5e5;
	vertical-align: middle;
	cursor: pointer
}

.jf-dh-con>ul>li>span>input {
	width: 45px;
	height: 30px;
	text-align: center;
	padding: 0;
	border: none;
	box-sizing: border-box;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	display: inline-block;
	line-height: 28px;
	vertical-align: middle
}

.jf-dh-con>ul>li>a {
	display: block;
	width: 100%;
	height: 32px;
	text-align: center;
	line-height: 32px;
	color: #fff;
	background: #dd3434;
	margin-top: 10px;
	border-radius: 4px
}

.rw-list {
	border-bottom: 2px solid #dd3434;
	text-align: center;
	padding-bottom: 3px
}

.rw-list>ul>li {
	float: left;
	width: 50%!important
}

.rw-body>ul>li>.tm-float-right>a {
	width: 100px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	color: #fff;
	background: #dd3434;
	border-radius: 4px;
	display: block;
	margin-top: 10px
}

.rw-body>ul>li>em {
	position: absolute;
	top: 35px;
	left: 430px
}

.rw-body>ul>li {
	position: relative
}

.messages-body>ul>li>i,
.messages-body>ul>li>div {
	float: left
}

.messages-body>ul>li>i {
	margin-right: 20px;
	margin-top: 5px!important;
	line-height: normal!important
}

.messages-body>ul>li>div {
	width: 92%
}

.messages-body>ul>li>div>p {
	font-size: 14px;
	line-height: 1.6;
	color: #999
}

.user-icon>div {
	border-radius: 50%;
	width: 74px;
	height: 74px;
	margin: 0 auto;
	border: 1px solid #e5e5e5
}

.user-icon>p {
	color: #999
}

.user-body {
	margin-top: 25px
}

.user-body>.user-ye>i,
.user-body>.user-ye>span {
	display: inline-block;
	vertical-align: middle
}

.user-body>.user-ye>i {
	margin-right: 5px
}

.mn-number {
	color: #dd3434;
	margin-top: 10px
}

.mn-number>span {
	border-bottom: 1px solid #dd3434
}

.mn-number>span>strong {
	font-size: 23px
}

.user-icon-btn {
	margin-top: 20px
}

.user-icon-btn>a {
	width: 80px;
	height: 28px;
	border-radius: 15px;
	text-align: center;
	line-height: 28px;
	box-sizing: border-box
}

.user-icon-btn>a:first-child {
	float: left;
	display: block;
	border: 1px solid #dd3434;
	color: #dd3434
}

.user-icon-btn>a:last-child {
	float: right;
	display: block;
	background: #dd3434;
	color: #fff
}

.cz-body>.cz-right {
	float: right;
	width: 980px;
	position: relative
}

.cz-right-title {
	border-bottom: 1px solid #dd3434;
	padding: 0 0 3px 0
}

.cz-right-title>p>strong {
	color: #dd3434
}

.cz-number-input {
	padding: 15px 0;
	border-bottom: 1px solid #dcdcdc
}

.cz-number-input>input {
	width: 430px;
	height: 30px;
	border: 1px solid #e5e5e5;
	padding: 0;
	text-indent: 15px
}

.cz-yh-list li>div {
	float: left
}

.cz-yh-list li>div:first-child {
	margin-right: 10px
}

.cz-yh-list li>.zf-info>p {
	font-size: 14px;
	color: gray;
	margin-top: 3px
}

.cz-yh-list li {
	position: relative;
	border-bottom: 1px solid #e5e5e5;
	padding: 15px 0
}

.cz-yh-list li i {
	position: absolute;
	top: 50%;
	right: 10px;
	width: 22px;
	height: 22px;
	display: block;
	margin-top: -11px
}

.cz-yh-list li i img {
	width: 100%
}

.cz-config-btn {
	margin-top: 25px
}

.cz-config-btn>a {
	display: block;
	text-align: center;
	width: 290px;
	height: 32px;
	margin-right: 0;
	line-height: 32px;
	color: #fff;
	font-size: 14px;
	background: #dd3434;
	border-radius: 3px
}

.config-fiexd {
	position: absolute;
	width: 290px;
	height: 180px;
	border-radius: 3px;
	left: 50%;
	margin-left: -145px;
	bottom: 10px
}

.config-fiexd>p {
	background: #f8f8f8;
	height: 53px;
	line-height: 53px;
	border-bottom: #e5e5e5;
	text-indent: 20px;
	border: 1px solid #e5e5e5
}

.config-fiexd>p>i {
	display: block;
	height: 14px;
	width: 14px;
	float: right;
	margin-right: 30px;
	cursor: pointer
}

.config-fiexd>div {
	background: #fff;
	height: 130px;
	padding: 0 20px
}

.config-fiexd>div>h3>i,
.config-fiexd>div>h3>span {
	display: inline-block;
	vertical-align: middle
}

.config-fiexd>div>h3>i {
	margin-right: 5px
}

.config-fiexd>div>h3 {
	padding-top: 35px
}

.config-fiexd>div>p {
	padding-top: 20px
}

.config-fiexd>div>p>a {
	display: block;
	margin-right: 0;
	height: 27px;
	width: 53px;
	background: #00a0e9;
	line-height: 27px;
	text-align: center;
	border-radius: 4px;
	color: #fff
}

.gr-list-active {
	background: #dd3434!important
}

.gr-list-active>a {
	color: #fff!important
}

.zl-right-title-blod>p>i {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px
}

.zl-right-title-blod {
	border-width: 2px
}

.config-fiexd-zl>div {
	padding: 0 8px
}

.zl-input-all {
	width: 435px;
	margin-left: 0
}

.zl-input-all>form>.zl-input_box {
	height: 75px;
	line-height: 75px
}

.zl-input-all>form>.zl-input_box>input {
	width: 315px;
	height: 32px;
	color: #e5e5e5;
	box-sizing: border-box;
	border: 1px solid #e5e5e5;
	text-indent: 15px;
	color: #333
}

.zl-input-all>form>.zl-input_box>label,
.zl-input-all>.zl-input_box>span {
	width: 120px;
	display: inline-block
}

.zl-input-all>form>.zl-input_box>a {
	width: 120px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #e5e5e5;
	border-left-style: dashed;
	color: #dd3434;
	background: #fff
}

.zl-input_box-yz>input {
	width: 190px!important;
	border-right: none!important
}

.zl-btn-yess {
	margin-top: 15px
}

.zl-btn-yess>a {
	width: 315px;
	height: 32px;
	display: block;
	margin-right: 0;
	text-align: center;
	background: #dd3434;
	color: #fff;
	line-height: 32px;
	border-radius: 3px
}

.zl-AppDownload {
	margin-top: 90px
}

.jy-list {
	border-bottom: 2px solid #dd3434;
	text-align: center;
	padding-bottom: 3px
}

.jy-list>ul>li {
	float: left;
	width: 33.333333%
}

.jy-list>ul>li>p>a {
	display: inline-block;
	padding: 2px 8px;
	background: #dd3434;
	margin-left: 15px;
	color: #fff;
	font-size: 14px
}

.jy-list>ul>li>h3 {
	padding-bottom: 5px;
	font-size: 24px;
	color: #dd3434
}

.jy-list>ul>li>h3>em {
	font-size: 14px
}

.jy-list>ul>li>p {
	font-size: 16px
}

.jy-body-title {
	border-bottom: 1px solid #dcdcdc;
	padding: 25px 0 15px 0
}

.jy-body-title>i {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px
}

.jy-body-title b {
	font-size: 24px;
	position: relative;
	top: 2px;
	color: #dd3434
}

.jy-body-title em {
	color: #dd3434
}

.jy-body-title span {
	margin-right: 15px
}

.jy-body ul li {
	height: 66px;
	line-height: 66px;
	border-bottom: 1px solid #dcdcdc
}

.contact-textarea {
	padding-top: 20px
}

.contact-textarea>p>i {
	display: inline-block;
	vertical-align: middle;
	margin-right: 8px
}

.contact-textarea>p {
	padding-bottom: 5px
}

.contact-textarea>form>textarea {
	text-indent: 10px;
	font-size: 14px;
	height: 95px;
	width: 100%;
	resize: none;
	border: 1px solid #dd3434;
	outline: none;
	box-sizing: border-box
}

.contact-textarea>form>input[type="submit"] {
	width: 210px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	padding: 0;
	border: none;
	color: #fff;
	background: #dd3434;
	float: right;
	margin-top: 5px;
	border-radius: 3px;
	cursor: pointer
}

.set-text>p>i {
	display: inline-block;
	vertical-align: middle;
	margin-right: 8px
}

.set-text>p {
	border-bottom: 1px solid #dcdcdc;
	padding-bottom: 5px
}

.set-text>.set-text-con {
	font-size: 14px;
	line-height: 1.8;
	height: 460px;
	padding: 15px;
	overflow-y: scroll
}

.set-text>.set-text-con>p {
	text-indent: 25px
}

.set-text>.set-text-con>h1 {
	font-size: 14px
}

.cz-right>form {
	width: 430px;
	margin-left: 0
}

.tx-style>p>span {
	color: #dd3434
}

.tx-inputBox {
	border: none;
	padding: 0;
	margin: 15px 0
}

.tx-btn>a {
	display: block;
	width: 100%;
	height: 32px;
	line-height: 32px;
	text-align: center;
	color: #fff;
	background: #dd3434
}

.tx-select-box>select {
	text-indent: 15px;
	width: 100%;
	height: 32px;
	background-repeat: no-repeat;
	background-position: 412px;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	border: 1px solid #e5e5e5;
	outline: none
}

.tx-select-box {
	margin: 15px 0
}

.tg-list {
	font-size: 14px
}

.tg-list>ul>li>span {
	color: #dd3434
}

.tg-list>ul>li>input {
	border: 1px solid #e5e5e5;
	border-right: none;
	line-height: 22px;
	height: 22px;
	width: 250px;
	text-align: center;
	margin-left: 30px
}

.tg-list>ul>li>a {
	display: inline-block;
	padding: 0 10px;
	background: #dd3434;
	color: #fff;
	line-height: 22px;
	vertical-align: middle
}

.tg-body-title>p>i {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px
}

.tg-body-title>p>span>a {
	color: #dd3434;
	margin-left: 10px
}

.tg-body-title>p:first-child {
	padding-bottom: 15px
}

.rhzq {
	height: 625px;
	overflow-y: scroll
}

.rhzq>p {
	text-align: center
}

.zl-right-title-blod>p>em {
	font-size: 24px;
	color: #dd3434;
	margin-left: 15px
}

.zl-right-title-blod>p>a {
	color: #dd3434;
	margin-top: 10px;
	font-size: 14px
}

.jf-body>ul>li>i {
	display: inline-block;
	vertical-align: middle;
	margin-top: 10px;
	line-height: 40px
}

.jf-body>ul>li>span {
	margin-left: 40px;
	display: inline-block;
	vertical-align: middle;
	line-height: 40px
}

.jf-body>ul>li {
	padding: 15px 0;
	border-bottom: 1px solid #e5e5e5
}

.jf-body .tm-float-right {
	text-align: right
}

.jf-body .tm-float-right>h1 {
	color: #dd3434;
	margin-bottom: 8px
}

.jf-body .tm-float-right>p {
	font-size: 14px;
	color: #999
}

.yh-list {
	border-width: 1px
}

.yh-list>ul>li>h3 {
	font-size: 16px;
	padding-bottom: 20px
}

.yh-list>ul>li {
	border-bottom: 2px solid transparent;
	position: relative;
	top: 3px;
	cursor: pointer
}

.yh-list-active {
	border-color: #dd3434!important
}

.wf-con {
	height: 550px;
	text-align: center;
	overflow-y: scroll;
	margin: 25px 0
}

.wf-back-href {
	color: #666
}

.wf-back-href a {
	color: #dd3434
}

.banner-1>.tm-container>.banner-right-box {
	height: 315px
}

.banner-1>.tm-container>.banner-right-box>.index-banner-list {
	padding-top: 1px
}

.gg-body>.new-messag-list>li {
	padding: 15px 0;
	font-size: 14px;
	border-bottom: 1px solid #e5e5e5
}

.gg-body>.new-messag-list>li:before {
	position: relative;
	bottom: 2px;
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 0;
	border-width: 4px;
	border-style: solid;
	border-color: transparent transparent #dd3434 #dd3434
}

.gg-body>.new-messag-list>li>span {
	float: right;
	display: block;
	color: #999
}

.gg-body>.new-messag-list>li>a {
	display: inline-block;
	width: 85%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}

.gg-body>.new-messag-list>li>a:hover {
	color: #dd3434
}

.pagination {
	font-size: 0;
	text-align: center
}

.pagination>li {
	font-size: 13px;
	display: inline-block;
	vertical-align: top
}

.pagination>li:nth-child(n+2) {
	margin-left: 10px
}

.pagination>.disabled>span {
	background-color: #fafafa;
	color: #999;
	border: 1px solid rgba(0, 0, 0, .2);
	text-shadow: 0 1px 0 #fff
}

.pagination>li>a,
.pagination>li>span {
	display: inline-block;
	min-width: 25px;
	padding: 3px 5px;
	line-height: 20px;
	text-decoration: none;
	box-sizing: content-box;
	text-align: center;
	border-radius: 4px
}

.icon-angle-double-left:before {
	content: "<"
}

.pagination>.active>span {
	background: #dd3434;
	color: #fff;
	border: 0 solid rgba(0, 0, 0, .2);
	border-bottom-color: rgba(0, 0, 0, .4);
	background-origin: border-box
}

.pagination>li>a {
	background: #f7f7f7;
	color: #666;
	border: 1px solid rgba(0, 0, 0, .2);
	border-bottom-color: rgba(0, 0, 0, .3);
	background-origin: border-box;
	background-image: -webkit-linear-gradient(top, #fff, #eee);
	background-image: linear-gradient(to bottom, #fff, #eee);
	text-shadow: 0 1px 0 #fff
}

.icon-angle-double-right:before {
	content: ">"
}

.pagination-box {
	margin-top: 30px;
	margin-bottom: 50px
}

.gg-body>p {
	text-indent: 25px;
	line-height: 1.8;
	font-size: 14px
}

.con-add-href>ul>li {
	font-size: 16px
}

.con-add-href>ul>li>a {
	color: #999
}

.con-add-href>ul>li>a:hover {
	color: #dd3434
}

.gg-body-2 {
	padding-top: 30px
}

.wt-list>li {
	padding: 10px 0;
	border-bottom: 1px solid #e5e5e5;
	cursor: pointer
}

.wt-list>li>img,
.wt-list>li>span {
	display: inline-block;
	vertical-align: middle
}

.wt-list>li>span {
	margin-left: 30px
}

.wt-list>li {
	position: relative
}

.wt-list>li>i {
	position: absolute;
	right: 20px;
	top: 50%;
	margin-top: -10px
}

.tm-tabnav-header {
	margin-bottom: 2px
}

.tm-tabnav {
	background-color: #bfbfbf;
	list-style: none;
	padding: 0;
	margin: 0
}

.tm-tabnav>li {
	float: left
}

.tm-tabnav>li.uk-active>a {
	background-color: #f90
}

.tm-tabnav>li>a {
	display: block;
	font-size: 15px;
	line-height: 34px;
	padding: 0 30px;
	color: #fff
}

.tm-panel-box {
	position: relative;
	background-color: #fff;
	border: 1px solid #e0e0e0;
	border-top: 2px solid #f90
}

.article-scrll {
	overflow-y: auto
}

.tm-pro-list .list-item {
	border-bottom: 1px solid #e2e2e2;
	padding: 10px;
	padding-bottom: 13px
}

.tm-pro-list .list-item .hot-zs-table {
	margin-bottom: 0
}

.hot-zs-table {
	display: table;
	width: 100%;
	list-style: none;
	padding: 0
}

.hot-zs-table>li {
	display: table-cell;
	vertical-align: top
}

.hot-zs-item {
	line-height: 21px
}

.uk-margin-xsmall-bottom {
	margin-bottom: 10px!important
}

.uk-margin-xsmall-right {
	margin-right: 10px!important
}

.pro_price_CL1708 {
	color: #dd3434
}

.pro_zdzdf_CL1708 {
	color: #dd3434
}

.uk-button {
	-webkit-appearance: none;
	margin: 0;
	border: none;
	overflow: visible;
	font: inherit;
	color: #333;
	text-transform: none;
	display: inline-block;
	box-sizing: border-box;
	padding: 0 12px;
	background: #fff;
	vertical-align: middle;
	line-height: 24px;
	min-height: 26px;
	font-size: 1rem;
	text-decoration: none;
	text-align: center;
	border: 1px solid rgba(0, 0, 0, .01);
	border-radius: 2px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0)
}

.uk-button-theme {
	background-color: #dd3434;
	color: #fff
}

.uk-button-danger {
	background-color: #209cff;
	color: #fff
}

.uk-text-right {
	text-align: right!important
}

.uk-text-danger {
	color: red!important
}

.uk-text-success {
	color: #00a553!important
}

.uk-text-large {
	font-size: 16px
}

.hot-zs-item {
	font-size: 14px
}

.uk-flex-middle {
	position: relative
}

.pro_zdico_SI1709 {
	position: absolute;
	left: -30px;
	top: 0
}

.uk-button-success-2:hover,
.uk-button-success-2:focus {
	background-color: #6fac34;
	color: #fff
}

.uk-button-success-2 {
	background-color: #66bb27;
	color: #fff
}

.uk-progress-success .uk-progress-bar {
	background-color: #5db423
}

element.style {
	width: 68.5714%
}

.uk-progress-success .uk-progress-bar {
	background-color: #5db423
}

.uk-progress-bar {
	width: 0;
	height: 100%;
	background: #00a8e6;
	float: left;
	-webkit-transition: width .6s ease;
	transition: width .6s ease;
	font-size: 12px;
	color: #fff;
	text-align: center;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, .05);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0)
}

element.style {
	width: 94.1176%
}

.uk-progress-success .uk-progress-bar {
	background-color: #5db423
}

.uk-progress-bar {
	width: 0;
	height: 100%;
	background: #00a8e6;
	float: left;
	-webkit-transition: width .6s ease;
	transition: width .6s ease;
	font-size: 12px;
	color: #fff;
	text-align: center;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, .05);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0)
}

.uk-progress-danger .uk-progress-bar {
	background-color: #f7314b
}

.uk-progress-small {
	height: 10px
}

.uk-progress {
	box-sizing: border-box;
	height: 20px;
	margin-bottom: 15px;
	background: #f5f5f5;
	overflow: hidden;
	line-height: 20px;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .06);
	border-radius: 2px
}

.bzdqsmz em {
	color: #000!important
}